<mat-toolbar color="primary">
  <span>Gubee</span>
</mat-toolbar>

<div class="container">
  <mat-form-field>
    <mat-label>Mercados</mat-label>
    <mat-select multiple [(ngModel)]="selectedMarkets">
      <mat-option *ngFor="let market of markets" [value]="market">{{market.name}}</mat-option>
    </mat-select>
  </mat-form-field>
   &nbsp;&nbsp;&nbsp;
  <mat-form-field>
    <mat-label>Stack</mat-label>
    <mat-select multiple [(ngModel)]="selectedStack">
      <mat-option *ngFor="let technology of technologies" [value]="technology">{{technology.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;
  <button mat-raised-button (click)="fetchProducts()">Buscar</button>

  <app-lista [products]="products"></app-lista>
</div>
